$color_link: #FF3E79;
$color_body: #F8F8F8;
$white: #FFFFFF;
$color_box-shadow: #D9FFF5;
$color_decor: #41F6D7;
$decor_line: #EAEAEA;
$color_text: #7E7E82;
$color_title: #1B1C21;
$color_shadow-modal: #0E185033;
